@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/landing.css" rel="stylesheet" />
<div class="animated bounceIn">
    <h1 class="display-3 text-center" style="font-family:Lobster">HireManagement</h1>
    <h1 class="display-4 text-center" style="font-family:Lobster">Your employement is our priority</h1>
</div>
