@model HireManagement.Models.Worker
<h2> These are the details of your worker right here</h2>
<ul>
    <li>1. Name : @Model.FirstName</li>
    <li>2. City : @Model.City</li>
    <li>3. Email : @Model.Email</li>  
</ul>