<div class="text-center animated bounceInDown">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have the required permission to access this page</h6>
    <img src="~/images/stop.png" style="height:300px;width:300px" />
</div>